# Contents
# 01. Importing libraries
# 02. Importing data orders.csv
# 03. Python Shortcut for Importing Data Files
# 04. Exploting data with pandas
## 04.1 Displaying the first riws of the dataframe
## 04.2 Displaying the last rows of the dataframe
## 04.3 Displaying how many rows and columns has the data frame
## 04.4 Displaying how many rows and columns has dataframe, what the columns are called, and what data types the columns contain.
## 04.5 Displaying data types 
## 04.6 Displaying the titles of columns
## 04.7 Descriptive statistics: pointâ€”count, mean, standard deviation, minimum, lower quartile, median, upper quartile, and maximum
# 05 Python Data Structures: Lists
## 05.1 Creating a list of all columns i want to include, leaving off unnecessary columns
## 05.2 Importing only the columns in vars_list list when importing the data set.

# 01. Importing libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data orders.csv (data frame)

In [19]:
df = pd.read_csv(r'/Users/yevgeniyaem/Documents/Weiterbildung Data Analytics/11-2024 Instacart Basket Analysis/02 Data/Original Data/orders.csv', index_col = False)

# 03. Python Shortcut for Importing Data Files

path=r'/Users/yevgeniyaem/Documents/Weiterbildung Data Analytics/11-2024 Instacart Basket Analysis'

In [14]:
path

'/Users/yevgeniyaem/Documents/Weiterbildung Data Analytics/11-2024 Instacart Basket Analysis'

In [21]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

# 04. Exploring data with pandas

## 04.1 Displaying the first rows of the dataframe (by default there are first 5)

In [29]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

## 04.2 Displaying the last rows of the dataframe (by default the last 5)

In [33]:
df.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

## 04.3 Displaying how many rows and columns has the data frame

In [38]:
df.shape

(3421083, 7)

## 04.4 Displaying how many rows and columns has dataframe, what the columns are called, and what data types the columns contain.

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

## 04.5 Displaying data types (and nothing else)

In [46]:
df.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

## 04.6 Displaying the titles of columns

In [49]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

## 04.7 Descriptive statistics: pointâ€”count, mean, standard deviation, minimum, lower quartile, median, upper quartile, and maximum

In [53]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# 05 Python Data Structures: Lists

## 05.1 Creating a list of all columns i want to include, leaving off unnecessary columns

In [57]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [59]:
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

## 05.2 Importing only the columns in vars_list list when importing the data set.

In [63]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [69]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0